.card-bg {
  background: linear-gradient(22deg, rgba(255,255,255,0.08) 10%, rgba(255,255,255,0.08) 100%) !important;
  box-shadow:
          0 8px 20px rgba(0, 0, 0, 0.5),
          inset 0 1px 12px rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.neon-card-bg {
  background: linear-gradient(22deg, rgba(165, 182, 141, 0.2) 0%, rgba(165, 182, 141, 0.4) 30%, rgba(165, 182, 141,0.6) 100%) !important;
}

.profile-img {
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}